

@model UserMng.Web.Models.ActiveAccountPageModel

<div style="direction: rtl; padding: 20px;border: dotted 2px coral">
    <h3>
        کاربر محترم :  " @Model.UserName "
        <p>
            جهت بازیابی حساب خود روی 
            <a href="https://localhost:7000/ResetPassword/@Model.ActiveCode" style="text-decoration: black;color: darkred">
                لینک بازیابی
            </a> کیلیک کنید.
        </p>
    </h3>
</div>
