@model UserMng.Core.ViewModels.PanelAdmin.ListUsers

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "مدیریت کاربران";
}




<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">مدیریت کاربران</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="panel panel-default">
    <div class="panel-heading pull-right">
        لیست کاربران
    </div>
    <div class="panel-heading pull-left">
        <a href="/Admin/User/CreateUser/" class="btn btn-success">جدید</a>
    </div>
    <!-- /.panel-heading -->



    <form id="mform" action="/Search" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#Content">
        <div id="Content">
            <partial name="_Users" model="@Model"  />
        </div>
    </form>


</div>


@section Sc
{
    <script>
        function sendPage(pagenum) {
            $("#pageid").val(pagenum);
            $("#mform").submit();
        }


        function ChangePass(_Id) {
            LoadComponenet("/Admin/User/changePassword",
                { Id: _Id },
                function(res) {
                    $('body').append(res);
                    $('#changePass').modal();
                });
        }


        function ChangeStatus(_Id) {
            StatusData('/Admin/User/ChangeStatus', { Id: _Id });
        }

        function RefreshTbl() {
            $("#mytbl").load("/Admin/User/Index #mytbl");
        }

    </script>


}
