
@model UserMng.Core.ViewModels.ForgotPasswordViewModel


@{
    Layout = "_Layout";
    ViewData["Title"] = "فراموشی کلمه عبور";
}

<section>
    <div id="container_demo">
        <a class="hiddenanchor" id="toregister"></a>
        <a class="hiddenanchor" id="tologin"></a>
        <div id="wrapper">
            <div id="login" class="animate form">
                <form id="ForgotFrm" method="post">
                    <h1>بازیابی کلمه عبور</h1>
                    <p>
                        <label for="username" class="uname" data-icon="📧">ایمیل</label>
                        <input asp-for="Email" type="text" placeholder="info@gmail.com" />
                    </p>
                    <p class="login button">
                        <button onclick="SendForm('/ForgotPassword','ForgotFrm')" type="button">بازیابی</button>
                    </p>
                    <p class="change_link">
                        <a href="/#toregister" class="to_register">ثبت نام</a>
                        !حسابی ندارم
                    </p>
                </form>
            </div>
            
        </div>
    </div>
</section>
