@{
    Layout = "_Layout";
    ViewData["Title"] = "ورود / ثبت نام";
}




<section>
    <div id="container_demo">
        <a class="hiddenanchor" id="toregister"></a>
        <a class="hiddenanchor" id="tologin"></a>
        <div id="wrapper">

            
            
            <partial name="_Login"/>
            <partial name="_Register"/>
            
        </div>
    </div>
</section>