
@model UserMng.Core.ViewModels.ResetPasswordViewModel


@{
    Layout = "_Layout";
    ViewData["Title"] = "بازیابی حساب کاربری";
}

<section>
    <div id="container_demo">
        <a class="hiddenanchor" id="toregister"></a>
        <a class="hiddenanchor" id="tologin"></a>
        <div id="wrapper">
            <div class="animate form">
                <form id="ResetPasswordfrm" method="post">
                    <h1>بازیابی کلمه عبور</h1>
                    <p>
                        <input asp-for="UserId" type="hidden"/>

                        <label for="passwordsignup" class="youpasswd" data-icon="🔑">کلمه عبور</label>
                        <input asp-for="Password" type="password" placeholder="***"/>
                    </p>
                    <p>
                        <label for="passwordsignup_confirm" class="youpasswd" data-icon="🗝️">تایید کلمه عبور </label>
                        <input asp-for="ConfirmPassword" type="password" placeholder="***" />
                    </p>
                    <p class="signin button">
                        <button onclick="SendForm('/ResetPassword','ResetPasswordfrm')" type="button">تایید</button>
                    </p>
                </form>
            </div>
            
        </div>
    </div>
</section>


<script>

    function GotoLogin() {
    
        window.location.href = "/Home/Index";
    }

</script>